{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offer Edit | DigitalFair</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'img/favicon.png' %}" sizes="16x16 32x32" type="image/png">
    <style>
    body {
        background-color: #f8f9fa;
        margin-bottom: 70px;
    }
        .custom-btn {
        width: 125px; 
        }
    </style>
</head>
<body>
    <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
        <h2 class="mb-4">Изменение предложения на продажу</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="mb-3">
                        <label for="title" class="form-label">Наименование</label>
                        <input type="text" class="form-control" id="title" name="title" maxlength="64" value="{{ offer.title }}">
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Изображение</label>
                        <input type="file" class="form-control" id="image" name="image" accept="image/*">
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Категория</label>
                        <select class="form-control" id="category" name="category">
                            {% for category_id, category_name in form.fields.category.choices %}
                            <option value="{{ category_id }}" {% if category_id == offer.category.pk %}selected{% endif %}>{{ category_name }}</option>
                            {% endfor %}
                        </select>
                    </div>                    
                    <div class="mb-3">
                        <label for="manufacturer" class="form-label">Производитель</label>
                        <select class="form-control" id="manufacturer" name="manufacturer">
                            {% for manufacturer_id, manufacturer_name in form.fields.manufacturer.choices %}
                            <option value="{{ manufacturer_id }}" {% if manufacturer_id == offer.manufacturer.pk %}selected{% endif %}>{{ manufacturer_name }}</option>
                            {% endfor %}
                        </select>
                    </div>                    
                    <div class="mb-3">
                        <label for="offer_model" class="form-label">Модель</label>
                        <select class="form-control" id="offer_model" name="offer_model">
                            {% for offer_model_id, offer_model_name in form.fields.offer_model.choices %}
                            <option value="{{ offer_model_id }}" {% if offer_model_id == offer.offer_model.pk %}selected{% endif %}>{{ offer_model_name }}</option>
                            {% endfor %}
                        </select>
                    </div>                                                      
                    <div class="mb-3">
                        <label for="description" class="form-label">Описание</label>
                        <input type="textarea" class="form-control" id="description" name="description" value="{{ offer.description }}">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="amount" class="form-label">Количество</label>
                        <input type="text" class="form-control" id="amount" name="amount" maxlength="64" value="{{ offer.amount }}">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="unit" class="form-label">Ед.изм.</label>
                        <select class="form-control" id="unit" name="unit">
                            {% for unit_id, unit_name in form.fields.unit.choices %}
                            <option value="{{ unit_id }}" {% if unit_id == offer.unit.pk %}selected{% endif %}>{{ unit_name }}</option>
                            {% endfor %}
                        </select>
                    </div>                    
                    <div class="col-md-4 mb-3">
                        <label for="price" class="form-label">Стоимость</label>
                        <input type="text" class="form-control" id="price" name="price" maxlength="64" value="{{ offer.price }}">
                    </div>
                </div>
            </div>
            <hr class="hr" />
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="country" class="form-label">Страна</label>
                        <input type="text" class="form-control" id="country" name="country" maxlength="64" value="{{ offer.country }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="city" class="form-label">Город</label>
                        <input type="text" class="form-control" id="city" name="city" maxlength="64" value="{{ offer.city }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="street" class="form-label">Улица</label>
                        <input type="text" class="form-control" id="street" name="street" maxlength="64" value="{{ offer.street }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="home_number" class="form-label">Номер дома/строения/здания</label>
                        <input type="text" class="form-control" id="home_number" name="home_number" maxlength="64" value="{{ offer.home_number }}">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" id="flexCheckChecked" name="in_active" checked>
                    <label class="form-check-label" for="flexCheckChecked">Предложение актуально</label>
                </div>
            </div>
            <div class="d-grid gap-2 mt-3">
                <button type="submit" class="btn btn-outline-dark me-2">Сохранить изменения</button>
                <a href="{% url 'cabinet_url'%}" class="btn btn-outline-dark me-2">Закрыть</a>      
            </div>
        </form>
        </div>
    </div>
    </div>
    {% for field in form %}
        {% if field.errors %}
        <li>{{ field.label }}: {{ field.errors|join:", " }}</li>
        {% endif %}
    {% endfor %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>