{% extends 'base.html' %}
{% load static %}
{% block title %}Offer Detail{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <img src="{% if offer.image %}{{ offer.image.url }}{% else %}{% static 'img/no_item_image.jpg' %}{% endif %}" class="img-fluid" alt="Product Image">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4>{{ offer.title }}</h4>
                    <dl class="row">
                        <dt class="col-sm-3 text-muted">Категория:</dt>
                        <dd class="col-sm-9 text-muted">{{ offer.category.name }}</dd>
                        <dt class="col-sm-3">Количество:</dt>
                        <dd class="col-sm-9">{{ offer.amount }} {{ offer.unit.name}}</dd>
                        <dt class="col-sm-3">Стоимость:</dt>
                        <dd class="col-sm-9" id="price">{{ offer.price }} KZT |</dd>
                        <dt class="col-sm-3">Состояние:</dt>
                        <dd class="col-sm-9">
                            {% if offer.condition_new %}
                            <span>Новое</span>
                            {% else %}
                            <span>Бывшее в употреблении</span>
                            {% endif %}
                        </dd>
                        <dt class="col-sm-3">Статус:</dt>
                        <dd class="col-sm-9">
                            {% if offer.in_active %}
                            <span>Актуально</span>
                            {% else %}
                            <span>Не актуально</span>
                            {% endif %}
                        </dd>
                    </dl>
                    <div class="d-grid gap-2 mt-3">
                        {% if user == offer.salesman %}
                            <a class="btn btn-outline-dark" href="{% url 'offer_edit_url' offer.id %}">Редактировать предложение</a>
                            <a class="btn btn-outline-dark" href="{% url 'offer_delete_url' offer.id %}">Удалить предложение</a>
                        {% endif %}
                        <a class="btn btn-outline-dark" href="{% url 'create_offer_buy_url' offer.id %}">Сделать предложение</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div class="card">
            <div class="card-body">
                <h2>Описание</h2>
                <p>{{ offer.description }}</p>
                <dl class="row col-md-8">
                    <dt class="col-sm-3">Производитель:</dt>
                    <dd class="col-sm-9">{{ offer.manufacturer.name }}</dd>
                    <dt class="col-sm-3">Модель:</dt>
                    <dd class="col-sm-9">{{ offer.offer_model.name }}</dd>
                    <dt class="col-sm-3">Продавец:</dt>
                    <dd class="col-sm-9">{{ offer.salesman }}</dd>
                    <dt class="col-sm-3">Адрес:</dt>
                    <dd class="col-sm-9">{{ offer.country }}, {{ offer.city }}, {{ offer.street }}, {{ offer.home_number }}</dd>
                    <dt class="col-sm-3">Дата публикации:</dt>
                    <dd class="col-sm-9">{{ offer.datetime }}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload=()=>{
        var kzt={{ offer.price }};
        var request=new XMLHttpRequest();

        request.onreadystatechange=function() {
            if(request.readyState == 4){
                var price=document.getElementById('price');
                var response=JSON.parse(request.responseText);
                price.innerHTML=response['old_amount'] + ' KZT | ' + response['new_amount'] + ' USD';
            }
        };
        var url='https://api.api-ninjas.com/v1/convertcurrency?want=USD&have=KZT&amount=' + kzt;
        request.open('get', url, true);
        request.setRequestHeader('X-Api-Key', 'MncbwUDMbimwWA35l1yoVA==WeF7lepobbYVn4T3');
        request.send();
    }
</script>
{% endblock %}