{% extends 'base.html' %}
{% load static %}
{% block title %}Cabinet{% endblock title %}

{% block content %}
{% comment %} {% if user.is_authenticated %} {% endcomment %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-grid gap-2">
                        <a href="{% url 'offer_create_url' %}" class="btn btn-outline-dark">Создать предложение</a>
                    </div>
                    {% if offers_buy %}
                    {% for offer in offers_buy %}
                        <div class="card mt-3">
                            <div class="card-body">
                                <div class="d-grid gap-2">
                                    <ul class="list-unstyled">
                                        <li class="list-group-item"><h5><a class="text-decoration-none" href="{% url 'offer_url' offer.sale.id %}">{{ offer.sale.title }}</a></h5></li>
                                        <li class="list-group-item text-muted">Покупатель: {{ offer.buyer.first_name }} {{ offer.buyer.last_name }}</li>
                                        <li class="list-group-item">Количество: {{ offer.amount }}</li>
                                        <li class="list-group-item">Стоимость: {{ offer.price }} тенге</li>
                                        <li class="list-group-item">Дата публикации: {{ offer.datetime }}</li>
                                    </ul>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <form method="POST" action="{% url 'offers_accept_url' %}">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{ offer.id }}" name="offer_buy_id">
                                                <input type="hidden" value="{{ offer.sale.id }}" name="offer_sale_id">
                                                <input type="submit" class="btn btn-outline-dark w-100" value="Принять">
                                            </form>
                                        </div>
                                        <div class="col-md-4">
                                            <form method="POST" action="{% url 'offers_decline_url' %}">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{ offer.id }}" name="offer_buy_id">
                                                <input type="hidden" value="{{ offer.sale.id }}" name="offer_sale_id">
                                                <input type="submit" class="btn btn-outline-dark w-100" value="Отклонить">
                                            </form>
                                        </div>
                                        <div class="col-md-4">
                                            <a class="btn btn-outline-dark w-100" href="{% url 'cabinet_url' %}">Закрыть</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{{ user.avatar.url }}" class="card-img-top rounded-circle" alt="Avatar">
                <div class="card-body">
                    <h4 class="card-title">{{ user.first_name }} {{ user.last_name }}</h4>
                    <p class="card-text">Электронная почта: {{ user.email }}</p>
                    <p class="card-text">Страна: {{ user.country }}</p>
                    <p class="card-text">Город: {{ user.city }}</p>
                    <p class="card-text">Номер телефона: {{ user.phone }}</p>
                        <div class="d-grid gap-2">
                            <a href="{% url 'edit_profile_url' %}" class="btn btn-outline-dark">Редактировать профиль</a>
                            {% if user.is_superuser %}
                            <a href="{% url 'admin:index' %}" class="btn btn-outline-dark">Панель администратора</a>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %} {% else %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h5>У вас нет доступа к кабинету, пожалуйста 
                <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0" href="{% url 'signup_url' %}">зарегестрируйтесь</a> или 
                <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0" href="{% url 'login_url' %}">авторизируйтесь!</a>
            </h5>
        </div>
    </div>
</div>
{% endif %} {% endcomment %}
{% endblock %}
