{% extends 'base.html' %}
{% load static %}
{% block title %}Offers{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-grid gap-2">
                        <form class="input-group" method="GET">
                            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="q">
                            <button type="submit" class="btn btn-outline-primary">search</button>
                        </form>
                        <div class="d-grid gap-2">
                            {% if selected_category %}
                            <small>Выбранная категория: {{ selected_category.name }}</small>
                            {% else %}
                            <small>Выбранная категория: Все</small>
                            {% endif %}
                        </div>
                        {% for offer in offers %}
                        <div class="card">
                            <div class="card-body">
                                <div class="d-grid gap-2">
                                    <ul class="list-unstyled">
                                        <li class="list-group-item"><h5><a class="text-decoration-none" href="{% url 'offer_url' offer.id %}">{{ offer.title }} {{ offer.manufacturer }} {{ offer.offer_model }}</a></h5></li>
                                        <li class="list-group-item text-muted">Категория: {{ offer.category.name }}</li>
                                        <li class="list-group-item">Количество: {{ offer.amount }} {{ offer.unit }}</li>
                                        <li class="list-group-item">Стоимость за {{ offer.unit }}: {{ offer.price }} тенге</li>
                                        <li class="list-group-item">Продавец: {{ offer.salesman.first_name }} {{ offer.salesman.last_name }}</li>
                                        <li class="list-group-item">Дата публикации: {{ offer.datetime }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <ul class="list-unstyled">
                        <h5>Категории</h5>
                        {% for category in categories %}
                        <li class="list-group-item"><a class="text-decoration-none" href="{% url 'offers_url' category.id %}">{{ category.name }}</a></li>
                        {% endfor %}
                        <li class="list-group-item"><a class="text-decoration-none" href="{% url 'offers_url' %}">Все категории</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}